/* 헤더 */
header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
}
a img {
  display: none;
}
.logo {
  position: relative;
  left: 200px;
  margin-top: 10px;
}

header a > span {
  margin-left: 10px;
}

.searchBar {
  width: 300px;
  height: 30px;
  border-radius: 15px;
  border: 2px solid #2569e0;
  margin-top: 15px;
  position: absolute;
  left: 400px;
  text-align: start;
}
.searchBar::placeholder {
  font-size: 14px;
  width: 90%;
  position: relative;
  left: 10px;
  text-align: left;
}

.loginText {
  color: #2569e0;
  font-size: 14px;
  position: relative;
  top: 20px;
  right: 60px;
  font-weight: bold;
}

nav {
  width: 100%;
  height: 50px;
  box-shadow: 3px 5px 5px rgb(189, 189, 189);
}

.navContent {
  display: flex;
  justify-content: center;
}

.navContent li {
  padding: 14px 20px;
  width: 120px;
  color: rgb(76, 76, 76);
  transition: all 0.3s;
}

.navContent li a {
  font-weight: bold;
  display: block;
  cursor: pointer;
}
.navContent li:hover {
  transform: scale(1.05);
  color: black;
}
.login-menu {
  display: none;
}
.login-menu li img {
  cursor: pointer;
}
.closeBtn {
  margin-bottom: 100px;
}

a {
  color: rgb(61, 61, 61);
}

a:hover {
  color: #2569e0;
}
/* 헤더 끝 */

@media screen and (max-width: 885px) {
  li a {
    font-size: 13px;
  }
  .logo {
    left: 50%;
    transform: translate(-50%, 10%);
  }

  .logo:hover {
    left: 50%;
    transform: translate(-50%, 10%) scale(1.05);
  }
  .searchBar {
    left: 50%;
    transform: translate(-50%, 260%);
  }
  header {
    height: 100px;
  }
  .navContent {
    position: absolute;
    flex-direction: column;
    right: 0;
    background: #eee;
    top: 0px;
    height: 800px;
    /* 모바일 메뉴 */
    right: -350px;
    transition: all 0.5s;
    height: 100%;
    z-index: 10;
  }
  .active {
    right: 0px;
  }
  .navContent li {
    width: 300px;
  }
  a {
    font-size: 20px;
  }
  a img {
    position: absolute;
    top: -10px;
    left: 0px;
    display: block;
  }
 .loginText span {
    display: none;
  }
  .login-menu {
    display: block;
    font-size: 17px;
  }
  .login-menu span {
    margin-right: 20px;
  }
}
