.banner {
  width: 100vw;
  height: 20%;
  margin-top: 1px;
  background: #eee;
}

.banner div img {
  width: 100%;
  display: block;
  background-size: cover;
  height: 370px;
}

@media screen and (max-width:767px) {
  .banner {
    height: 80%;
  }
  .banner div img {
    height: 200px;
  }
}
@media screen and (max-width:537px) {
  .banner {
    height: 100%;
  }
  .banner div img {
    height: 250px;
  }
}